<div class="content-block purpose">
  <form [formGroup]="cgPurposeForm">
    <div class="header-field">Purpose</div>
    <!-- <mat-label style="font: normal normal normal 13px/28px Inter-regular;
        letter-spacing: 0.67px;">Description</mat-label> -->
    <div *ngIf="globalData?.assetStatus === ASSET_STATUSES.PUBLISHED || globalData?.assetStatus === ASSET_STATUSES.CURRENT || globalData?.assetStatus === ASSET_STATUSES.OBSOLETE || globalData?.assetStatus === ASSET_STATUSES.APPROVED_WAITING_FOR_JC || (globalData?.assetStatus === ASSET_STATUSES.SUBMITTED_FOR_APPROVAL && !isContentOwner); else EDIT_MODE">
      <div class="purpose-preview" [innerHTML]="activityTabs?.purpose | safe : 'html'"></div>
    </div>
    <ng-template #EDIT_MODE>
      <span>Note: The Purpose text must not contain any export-controlled technical data.</span>
     <ng-container *ngIf="activityTabs">
       <app-texteditor [placeholder]="activityTabs?.purpose" (focusout)="checkFocusOut()" (focusin)="checkValueChange()"
                       [allowMedia]="false"
                       id="angularEditor"
                       formControlName="Purpose"
                       (editorData)="activityTabs.purpose = $event; updatePurpose()"></app-texteditor>
     </ng-container>
    </ng-template>
    <div>
      <span class="arrow-icon">
        <img (click)="onArrowClick()" src="./assets/images/EastArrow.svg" width="50px" height="50px" />
      </span>
    </div>
  </form>
</div>
