
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"  *ngIf="!isHeader">External Link URL</h5>
          <h5 class="modal-title"  *ngIf="isHeader">Add Header</h5>
          <button type="button" class="close" data-dismiss="modal" mat-button mat-dialog-close aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12" *ngIf="!isHeader">
                <input type="text" class="form-control shareurltext" placeholder="Title"
                  [(ngModel)]="titleName" maxlength="50">
                  <input type="text" class="form-control shareurltext" placeholder="Link"
                  [(ngModel)]="externalUrl">
                  <button *ngIf="!update" mat-raised-button color="primary" [disabled]="!externalUrl && !titleName" class="submit-btn" mat-button (click)="submit('externalLink')">
                    Add Link
                  </button>
                  <button *ngIf="update" mat-raised-button color="primary" [disabled]="!externalUrl && !titleName" class="submit-btn" mat-button (click)="submit('externalLink')">
                    Update Link
                  </button>
              </div>
              <div class="form-group col-md-12" *ngIf="isHeader">
                <input type="text" class="form-control shareurltext" placeholder="Header"
                  [(ngModel)]="externalUrl" maxlength="50">
                  <button mat-raised-button color="primary" [disabled]="!externalUrl" class="submit-btn" mat-button (click)="submit('addHeader')">
                    Add Header
                  </button>
              </div>
            </div>
        </div>
      </div>
    </div>