// .doverly{
//     position: absolute;
//     background: #bcb7b7;
     
//     width: 100%;
//     z-index: 9999;
//     top: 20px;
//     opacity: 0.2;
//     //opacity: -0.8;
//     bottom: 49px;
//   }
.doverly{
position: absolute;
    background: #bcb7b7;
    width: 100%;
    z-index: 9999;
    top: 0px;
    opacity: 0.2;
    bottom: 0px;
    left:0px;
}