// Color Variables
$black-color: #000000;
$white-color: #ffffff;
$blue-darken-color: #141b2c;
$blue-lighten-color: #2d6bff;
$gray-lighten-color: #bebec2;
$gray-lighten-1-color: #ececed;
$gray-lighten-2-color: #f5f5f5;
$gray-darken-color: #656363;

//Transparent Color
$transparent-color: transparent;

//Text Colors
$text-basic-color: #000000;
$text-primary-color: #656363;
$text-secondary-color: #2d6bff;
$text-link-color: #0000ee;
$text-heading-color:#0030D1;

//SelectBox Colors
$select-basic-color: #141b2c;

//Table Background
$table-basic-bg: #ffffff;
$table-primary-bg: #ededed;

//Navigation
$nav-primary-bg: #202a44;

//Progress bar
$progressBar-basic-bg: #fdbf5e;
$progressBar-primary-bg: #1d8e26;

//Alert
$alert-basic-bg: #db0303;

//Content Types
$type-basic-bg: #994878;
$type-primary-bg: $text-link-color;
$type-secondary-bg: #02a21b;
$type-third-bg: #c1eeff;

$content-type-wi: #920057;
$content-type-ap: #30A62A;
$content-type-cg: #c1eeff;
$content-type-toc: #023571;
$content-type-gb: #008a90;
$content-type-rc: #7D1D04;
$content-type-kp: #D88D00;
$content-type-ds: #8800ba;
$content-type-exportCompliance: #202a44;
$content-type-globalSearch: #182752;
$content-type-m:#df4b09;
// $content-type-sf:#ffc400;
$content-type-sf: #DF4B09;
$content-type-sp: #404041;

//Tasks
$task-type-sf:#df4b09;
$task-type-sp:#404041;
$task-type-d:#546FC9;
$task-type-a:#30A62A;
$color-task-title:#3E3E3E;
$task-type-wi: #920057;
$task-type-cg: #c1eeff;
$task-type-t: #ffc400;
$task-type-task: #FFBB00;
$task-type-kp: #D88D00;
$task-type-toc: #023571;
$task-type-gb: #008a90;
$task-type-ds: #8800ba;
$task-type-rc: #7D1D04;
//Content Type border
$content-type-brd:#00A9E0;


//Table Custom Colors
$table-header-dark-blue-color: #3C445C;

//Custom Border Colors
$border-light-blue-color: #C2CDEF;
$box-shadow-black: #0000007C;
$box-border-grey: #B2B2B22C;
$select-dropdown-border: #707070;

//Popup Heading and other Popup related Colors
$popup-heading-light-black: #3E3E3E;
$disclaimer-text-grey-color: #5B6376;