<div class="container">
  <div class="document-wrapper">
    <h3>Document View</h3>
    <mat-tab-group>
      <mat-tab label="Tab 1">
        <iframe
          src="https://pwesw1.sharepoint.com/sites/PWESW/_layouts/15/Doc.aspx?sourcedoc={4f0f44de-92db-4f16-9e33-6b6bef69a620}&amp;action=embedview&amp;wdStartOn=1"
          width="743px"
          height="968px"
          frameborder="0"
          >This is an embedded
          <a target="_blank" href="https://office.com">Microsoft Office</a>
          document, powered by
          <a target="_blank" href="https://office.com/webapps">Office</a
          >.</iframe
        >
      </mat-tab>
      <mat-tab label="Tab 2">
        <iframe
          src="https://pwesw1.sharepoint.com/sites/pwesw/_layouts/15/WopiFrame.aspx?sourcedoc={4f0f44de-92db-4f16-9e33-6b6bef69a620}&action=edit&wdStartOn=1"
          width="476px"
          height="288px"
          frameborder="0"
          >This is an embedded
          <a target="_blank" href="https://office.com">Microsoft Office</a>
          document, powered by
          <a target="_blank" href="https://office.com/webapps">Office Online</a
          >.</iframe
        >
      </mat-tab>
      <mat-tab label="Tab 3">
        <iframe
          src="https://pwesw1.sharepoint.com/sites/pwesw/_layouts/15/WopiFrame.aspx?sourcedoc={b56af4da-dd4c-4d52-b1fe-60519d027690}&action=edit"
          width="476px"
          height="288px"
          frameborder="0"
          >This is an embedded
          <a target="_blank" href="https://office.com">Microsoft Office</a>
          document, powered by
          <a target="_blank" href="https://office.com/webapps">Office Online</a
          >.</iframe
        >
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
