<div class="app-zoom">
  <div
    class="app-zoom__icon-button"
    (click)="onZoomToFit()"
    mat-ripple
  >
    <mat-icon
      class="app-zoom__icon"
      svgIcon="map-view:zoom-to-fit"
    ></mat-icon>
  </div>
  <div
    class="app-zoom__icon-button"
    (click)="onZoomIn()"
    mat-ripple
  >
    <mat-icon
      class="app-zoom__icon"
      svgIcon="map-view:zoom-in"
    ></mat-icon>
  </div>
  <div
    class="app-zoom__icon-button"
    (click)="onZoomOut()"
    mat-ripple
  >
    <mat-icon
      class="app-zoom__icon"
      svgIcon="map-view:zoom-out"
    ></mat-icon>
  </div>
</div>
