
<div class="bodyBox"> 
 
  <div class="leftbox">

    <div class="leftBoxHeading">Lobby Footer Links</div>

    <ng-template #tmplNode let-node="node">
        <div class="node-item" [attr.data-id]="node.id" [attr.id]="'node-'+node.id"  >
       
          <div class="node-title" (click)="node.isExpanded=!node.isExpanded" fxLayout="row" fxLayoutAlign="start center">
            <!-- <mat-icon class="mat-icon-rtl-mirror triangleIcons">
              {{node?.children?.length ? (node.isExpanded?'arrow_drop_down':'arrow_right') : '&nbsp;&nbsp;&nbsp;'}} 
            </mat-icon> -->
            <!-- <mat-icon class="mat-icon-rtl-mirror triangleIcons">
              {{(node ?'arrow_right':'arrow_drop_down')}} 
            </mat-icon> -->
            <div class="node-active" (click)="nodeSelect(node)" [ngClass]="{active: selectlistActive(node)}">
              <div class="bulletContainer">
                <div class="roundBullet"></div>
              </div>
              <div class="itemText" (click)="footerElementClick(node)">
                &nbsp;&nbsp; {{node.title}} 
              </div> 
            </div>             
          </div>
          <!-- 
          <div *ngIf="node.isExpanded && node.children.length" class="node-children"
               cdkDropList [cdkDropListData]="node.children"
               [id]="node.id" [cdkDropListConnectedTo]="dropTargetIds"
               (cdkDropListDropped)="drop($event)"
               [cdkDropListSortingDisabled]="true">
      
            <div *ngFor="let child of node.children" cdkDrag [cdkDragData]="child.id" 
                 (cdkDragMoved)="dragMoved($event)">
              <ng-container *ngTemplateOutlet="tmplNode,context:{node:child}"></ng-container>  
            </div>
      
          </div>
          -->
        </div>
    
     
    
     
    </ng-template>
    
    <div >
         
      <div *ngFor="let node of nodes" >
    
        <ng-container *ngTemplateOutlet="tmplNode,context:{node:node}"></ng-container>
    
      </div>
    </div>
    <div style="visibility: hidden; position: fixed"
        [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y"
        [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu" class="conextMatMenu">
      <ng-template matMenuContent let-item="item">
        <button mat-menu-item class="menuBtn" fxLayout="row" fxLayoutAlign="start center" *ngIf="item.children">
          <mat-icon class="materialIcons">add</mat-icon>
          <span class="menuText">Add New Submenu</span>
        </button>
        <button mat-menu-item class="menuBtn" fxLayout="row" fxLayoutAlign="start center" (click)="deleteFooterLinks(item)">
          <mat-icon class="materialIcons">delete_outline</mat-icon>
          <span class="menuText">Delete</span>
        </button>
      </ng-template>
    </mat-menu>
    <!-- 
    <hr />
    <p><strong>current drag drop action:</strong></p>
    <pre>{{dropActionTodo|json}}</pre>
    <hr />
    <p><strong>tree data</strong></p>
    <pre>{{nodes|json}}</pre>
    -->
    
    
  </div>

  <div class="rightbox" [formGroup]="updateContentForm" > 

    <div class="propText">Properties</div>
    
    <div class="formLabel">Title</div> 
    <mat-form-field class="example-full-width textBoxs" >
        <input matInput value="" formControlName="contentTitle">
    </mat-form-field>
    
    <div class="formLabel">Description</div>
    <mat-form-field class="example-full-width textBoxs" >
        <input matInput value="" formControlName="footerDescription">
    </mat-form-field>
    
    <div class="formLabel">Link</div> 
    <mat-form-field class="example-full-width textBoxs" >
        <input matInput value="" formControlName="contentURL">
        <!-- <div matSuffix class="searchIcon" width="13px" height="13px"></div> -->
    </mat-form-field>
    
    <div class="formLabel">Modified on</div> 
    <mat-form-field class="example-full-width textBoxs modifiedField" >
        <input matInput value="" readonly formControlName="contentModifiedOn" class="modifiedField">
    </mat-form-field>
    
    <div class="formLabel">Modified By</div> 
    <mat-form-field class="example-full-width textBoxs modifiedField" >
        <input matInput value="" readonly formControlName="contentModifiedBy" class="modifiedField">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="btnGroups">
      <button mat-button mat-raised-button color="primary" (click)="onConetntSave()">Save</button>
      <button mat-button mat-raised-button color="primary" (click)="onReset()">Reset</button>
    </div>
   
  </div>
  
  <span class="matspinner" *ngIf="isShowSpinner">
    <mat-spinner></mat-spinner>
  </span>
  
</div>