<div class="app-diagram-context-menu"
     #menuTrigger="matMenuTrigger"
     [matMenuTriggerFor]="contextMenu"
     [ngStyle]="{
        left: model.position.left + 'px',
        top: model.position.top + 'px'
    }"
></div>

<mat-menu
  class="app-diagram-context-menu__menu"
  #contextMenu="matMenu"
>
  <button
    *ngIf="!published && !stepFlow"
    class="app-diagram-context-menu__menu-item"
    (click)="onAddLaneClick()"
    mat-menu-item
  >
    <app-context-menu-item
      icon="map-view:add"
      [text]="step ? 'Add discipline' : 'Add lane'"
    ></app-context-menu-item>
  </button>
  <button
    *ngIf="!published && !stepFlow"
    class="app-diagram-context-menu__menu-item"
    (click)="onDeleteClick()"
    mat-menu-item
  >
    <app-context-menu-item
      icon="map-view:delete"
      text="Delete"
    ></app-context-menu-item>
  </button>
  <button
    class="app-diagram-context-menu__menu-item"
    (click)="onExpandCollapseClick()"
    mat-menu-item
  >
    <app-context-menu-item
      large="true"
      [icon]="isLaneCollapsed ? 'map-view:expand' : 'map-view:collapse'"
      [text]="isLaneCollapsed ? 'Expand' : 'Collapse'"
    ></app-context-menu-item>
  </button>
  <button
    *ngIf="!published"
    class="app-diagram-context-menu__menu-item"
    (click)="onPropertiesClick()"
    mat-menu-item
  >
    <app-context-menu-item
      icon="map-view:properties"
      text="Properties"
    ></app-context-menu-item>
  </button>
</mat-menu>
