<div class="sub-header cd">
  <div class="container">
    <div class="top-band">
      <div class="title">
        <span class="type cd">CD</span>
        <span id="docTitle" class="name"
          >Structures Support of Design Reviews (sl-c-0037)</span
        >
      </div>
      <div class="create-document-nav">
        <div class="menu">
          <a mat-button (click)="openDialog()">
            <span class="icon collaborate"></span>
            <span class="text">Collaborate</span>
          </a>
          <a mat-button>
            <span class="icon experts"></span>
            <span class="text">Experts</span>
          </a>
          <a mat-button>
            <span class="icon approved"></span>
            <span class="text">Approved</span></a
          >
          <a mat-button>
            <span class="text">
              <span class="count">3.2</span>
              History
            </span>
          </a>
          <a mat-button
            ><span class="text"><span class="count">7</span>Views</span></a
          >
          <a mat-button
            ><span class="text"><span class="count">125</span>Usage</span></a
          >
          <a mat-button
            ><span class="text"> <span class="icon like"></span> 5</span></a
          >
        </div>
      </div>
    </div>
    <div class="document-no">
      <span class="icon usa"></span>
      <span class="name">68699</span>
    </div>
    <div class="document-toolbar">
      <a href="#" mat-button title="View"><span class="icon view"></span></a>
      <a href="#" mat-button title="Refresh"
        ><span class="icon refresh"></span
      ></a>
      <a (click)="downloadSourceFile()" mat-button title="Download"
        ><span class="icon download"></span
      ></a>
    </div>
    <div class="tab-wrapper">
      <mat-tab-group>
        <mat-tab label="Purpose"
          ><iframe
            src="https://pwesw1.sharepoint.com/sites/PWESW/_layouts/15/Doc.aspx?sourcedoc={3a5d86a9-ebe3-4cf7-a081-8dece07d6fb1}&amp;action=embedview&amp;wdStartOn=1"
            width="743px"
            height="968px"
            frameborder="0"
          ></iframe
        ></mat-tab>
        <mat-tab label="Design Criteria (Table)">
          <iframe
            src="https://pwesw1.sharepoint.com/sites/PWESW/_layouts/15/Doc.aspx?sourcedoc={eb2720a9-cc2c-4f1a-9847-91cb66caee48}&amp;action=embedview&amp;wdStartOn=1"
            width="743px"
            height="968px"
            frameborder="0"
          ></iframe>
        </mat-tab>
        <mat-tab label="Design Criteria (Table Rows)">
          <iframe
            src="https://pwesw1.sharepoint.com/sites/PWESW/_layouts/15/Doc.aspx?sourcedoc={9d63acd5-4ee7-47c6-b191-f24662d46dc5}&amp;action=embedview&amp;wdStartOn=1"
            width="743px"
            height="968px"
            frameborder="0"
          ></iframe>
        </mat-tab>
        <mat-tab label="Basis/Intent/Validation"
          ><iframe
            src="https://pwesw1.sharepoint.com/sites/PWESW/_layouts/15/Doc.aspx?sourcedoc={ed6a6682-4fd3-4811-977b-59889b27d586}&amp;action=embedview&amp;wdStartOn=1"
            width="743px"
            height="968px"
            frameborder="0"
          ></iframe
        ></mat-tab>
        <mat-tab label="References"
          ><iframe
            src="https://pwesw1.sharepoint.com/sites/PWESW/_layouts/15/Doc.aspx?sourcedoc={15796e87-4f14-4be2-bfee-ba22b119bc2c}&amp;action=embedview&amp;wdStartOn=1"
            width="743px"
            height="968px"
            frameborder="0"
          ></iframe
        ></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
