
.nspace {
    padding: 0 20px;
}

.modal-content {
    overflow-y: scroll;
    max-height: 600px;
}



.modal-dialog {
    max-width: 1300px !important;
}

table {
    width: 100%;
}

h4.left_title {
  font-family: "BarlowSemiCondensed-Medium" !important;
  letter-spacing: 0.83px;
  font-size: 24px; 
  text-transform: uppercase;
  padding: 0 0 0 20px;
}

h4.left_title span { 
  font-size: 16px;
  color: #3E3E3E;
}

.col-sm-3, .col-sm-9 {
    float: left !important;
}

.modal {
    font-family: "BarlowSemiCondensed-Medium" !important;
    letter-spacing: 0.83px;
}

.modal ul {
    list-style: none;
}

.add-btn {
    padding: 6px 30px;
}












