.activityBox {
    padding: 10px;
}
h3 {
    font-size: 18px;
}
mat-tree-node i {
    height: 20px;
    width: 20px;
    color: white;
    background: green;
    font-style: normal;
    text-align: center;
}
