<div *ngIf="loading">Loading...</div>
<div class="activityBox"   *ngIf="!loading">
<h3>Activity Details</h3>
<div *ngIf="dataSource && !dataSource.data.length">Data Not Found</div>
<mat-tree [dataSource]="dataSource"  #tree  [treeControl]="treeControl">
	<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
		<i [ngStyle]="{'background-color': 	   cCode[getDetailByID(node.contentTypeId).code] }">  {{ getDetailByID(node.contentTypeId).code}}

			  </i>
	  <button mat-icon-button disabled></button>
	  {{node.title}}
	</mat-tree-node>
	<mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
  <i [ngStyle]="{'background-color': 	   cCode[getDetailByID(node.contentTypeId).code] }" >  {{ getDetailByID(node.contentTypeId).code}}     </i>
      <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.title">
          <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
	  {{node.title}}
	</mat-tree-node>
  </mat-tree>
</div>
