<div *ngIf="loading" id="cover-spin"></div>
<div class="full-width" [class.obsolete-document-bg]="globalData?.assetStatus === ASSET_STATUSES.OBSOLETE">
  <div [class]="documentCreateStatus ? 'document-header top-band create-doc': 'document-header top-band'">
    <div class="header-wrapper">
      <hr class="line-divider CG">
      <div [className]="previewMode ? 'top-band-wrapper' : 'top-band-wrapper no-open-doc'" showPreviewMode>
        <span class="document-type CG" *ngIf="type">{{ type }} </span>
        <span id="docTitle" class="doc-title name" *ngIf="globalData && globalData.title">{{ globalData.title }}
          <span class="jc-title" *ngIf="globalData && globalData.contentId">{{globalData.contentId}}</span>
          <span class="jc-title" *ngIf="globalData && globalData.version">/</span>
          <span class="classifier-title" *ngIf="globalData && globalData.version">V {{globalData.version}}</span>
          <span class="jc-title" *ngIf="UsClassification">/</span>
          <span class="jc-title" *ngIf="UsClassification">
            <span>{{UsJurisdiction}}</span>&nbsp;
            <span *ngIf="UsJurisdiction != NSR">{{UsClassification}}</span>
          </span>
        </span>
        <span class="preview" *ngIf="previewMode">PREVIEW</span>
        <span *ngIf="showMenuActions == true">
          <app-top-menu-actions [editMode]="!previewMode" [globalContent]="globalData" (handlePreviewMode)="handleOnPreviewClick($event)"
            (handleApprovalAction)="handleApprovalAction($event)" (handleRequestAction)="handleRequestAction($event)"
            [isFormDirty]="isFormDirty" [requestApprovalOption]="requestApprovalOption">
          </app-top-menu-actions>
        </span>
      </div>
    </div>
  </div>

  <app-progressbar *ngIf="prograssBarStatus" [progressBar]='progressBar'
                   [docType]="contentType" [docStatus]="prograssBarStatus"></app-progressbar>
  <div class="clear"></div>

  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="wrapper tab-wrapper CG">
      <mat-tab-group (selectedTabChange)="onTabClick($event,requestApprovalTemplate)"
                     class="criteria-Details-g">
        <mat-tab label="Properties" *ngIf="!hasPublished">
        </mat-tab>
        <mat-tab label="Lessons Learned" *ngIf="!hasPublished" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="Purpose" [disabled]="hasProperty" *ngIf="!hasPublished">
        </mat-tab>
        <mat-tab label="Criteria" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="Purpose" [disabled]="hasProperty" *ngIf="hasPublished">
        </mat-tab>
        <mat-tab label="Definitions" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="Intent,Basis & Validation" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="References" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="Nature of Change" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="Lessons Learned" *ngIf="hasPublished" [disabled]="hasProperty">
        </mat-tab>
        <mat-tab label="Properties" *ngIf="hasPublished">
        </mat-tab>
      </mat-tab-group>
      <ng-container *ngIf="showMenuActions == true">
        <app-sub-menu-actions [contentCollaboration]="contentCollaboration" [contentType]="contentType" [docStatus]="prograssBarStatus"
          [globalContent]="globalData" (messageToEmit)="handleOnSaveAsClick($event)"
          (revisionMessageToEmit)="handleOnRevisionClick($event)" [isFormDirty]="isFormDirty"
          [propertiesLastUpdateDateTime]="propertiesLastUpdateDateTime" (recallMessageToEmit)="handleOnRecallClick($event)"></app-sub-menu-actions>
      </ng-container>
    </div>
    <div class="tab-detail-content">
      <ng-container [ngSwitch]="currentTabList[selectedIndex]?.textLabel">
          <ng-container *ngSwitchCase="'Properties'">
            <ng-container *ngIf="!hasPublished">
              <app-properties (nextTab)="nextTab($event)" (classifierDropDownList)="classifierDropDownList($event)"
                              [contentType]="contentType" [globalData]="globalData" [updatedContentOwner]="updatedContentOwner" (updateContentOwnerValue)="updateContentOwnerValue($event)" (updateRequestAproval)="updateRequestAproval($event)">
              </app-properties>
            </ng-container>
            <ng-container *ngIf="hasPublished">
              <app-properties (nextTab)="nextTab($event)" (classifierDropDownList)="classifierDropDownList($event)"
                              [contentType]="contentType" [preview]="previewMode" [globalData]="globalData" [updatedContentOwner]="updatedContentOwner">
              </app-properties>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Lessons Learned'">
            <ng-container *ngIf="!hasPublished">
              <app-lesson-learned (nextTab)="nextTab($event)" [contentType]="contentType" [globalData]="globalData"
                                  (handleDirtyPage)="handleDirtyPage($event)" (updateLastModifiedDate)="updateLastModifiedDate($event)" (updateLessonLearned)="updateLessonLearned($event)">
              </app-lesson-learned>
            </ng-container>
            <ng-container *ngIf="hasPublished">
              <app-lesson-learned (nextTab)="nextTab($event)" [contentType]="contentType" [globalData]="globalData">
              </app-lesson-learned>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Purpose'">
            <app-criteria-purpose (nextTab)="nextTab($event)" [globalData]="globalData"
                                  (updatePurposeField)="updatePurposeField($event)"></app-criteria-purpose>
          </ng-container>
          <ng-container *ngSwitchCase="'Definitions'">
            <app-definitions (nextTab)="nextTab($event)" [globalData]="globalData"
                             (updateIntentBasisValidationField)="updateIntentBasisValidationField($event)"
                             (updateDefinitionField)="updateDefinitionField($event)" (handleDirtyPage)="handleDirtyPage($event)">
            </app-definitions>
          </ng-container>
          <ng-container *ngSwitchCase="'Criteria'">
            <app-criteria (nextTab)="nextTab($event)" [globalData]="globalData"
                          (updateCriteriaField)="updateCriteriaField($event)" (handleDirtyPage)="handleDirtyPage($event)">
            </app-criteria>
          </ng-container>
          <ng-container *ngSwitchCase="'Intent,Basis & Validation'">
            <app-intent-basis-validation (nextTab)="nextTab($event)" [globalData]="globalData"
                                         (updateIntentBasisValidationField)="updateIntentBasisValidationField($event)">
            </app-intent-basis-validation>
          </ng-container>
          <ng-container *ngSwitchCase="'References'">
            <app-references (nextTab)="nextTab($event)" [globalData]="globalData"
                            (updateReferenceField)="updateReferenceField($event)"></app-references>
          </ng-container>
          <ng-container *ngSwitchCase="'Nature of Change'">
            <app-noc [globalData]="globalData" [allowMedia]="false" (updateNocData)="updateNocData($event)"></app-noc>
          </ng-container>
        </ng-container>
    </div>
  </div>
</div>
<ng-template #requestApprovalTemplate>
  <div class="warning-msg"> You have unsaved changes. Save them to proceed. </div>
  <button mat-raised-button color="primary" (click)="handleOnOkButton()" class="mat-button ok-button">OK</button>
</ng-template>
