.menu-panel-div{
    height: 15px;
    padding: 3px 0;
}

.bdr-top{border-top: 1px solid #E5E5E5 !important;
li{border-bottom: 1px solid #E5E5E5 !important;
li{border-bottom: 1px solid #E5E5E5 !important;}
}
}
