//Barlow Font Family
@font-face {
  font-family: "Barlow-Black";
  src: url("/assets/fonts/Barlow/Barlow-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Light";
  src: url("/assets/fonts/Barlow/Barlow-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("/assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Medium";
  src: url("/assets/fonts/Barlow/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("/assets/fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("/assets/fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-Black";
  src: url("/assets/fonts/Barlow/BarlowSemiCondensed-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-Light";
  src: url("/assets/fonts/Barlow/BarlowSemiCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-Regular";
  src: url("/assets/fonts/Barlow/BarlowSemiCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-Medium";
  src: url("/assets/fonts/Barlow/BarlowSemiCondensed-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-SemiBold";
  src: url("/assets/fonts/Barlow/BarlowSemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowSemiCondensed-Bold";
  src: url("/assets/fonts/Barlow/BarlowSemiCondensed-Bold.ttf") format("truetype");
}

//Inter Font Family
@font-face {
  font-family: "Inter-Black";
  src: url("/assets/fonts/Inter/Inter-Black.ttf") format("truetype"),
    url("/assets/fonts/Inter/Inter-Black.oft") format("opentype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf") format("truetype"),
    url("/assets/fonts/Inter/Inter-Regular.oft") format("opentype");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("/assets/fonts/Inter/Inter-Medium.ttf") format("truetype"),
    url("/assets/fonts/Inter/Inter-Medium.oft") format("opentype");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("/assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/Inter/Inter-SemiBold.oft") format("opentype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/assets/fonts/Inter/Inter-Bold.ttf") format("truetype"),
    url("/assets/fonts/Inter/Inter-Bold.oft") format("opentype");
}
