.vertical_line {
  border-left: 1px solid black;
  height: 50%;
  margin: 0% 0.5%;
 
}
.button_style {
  background-color: white;
  cursor: pointer;
  outline: none;
}
.image_alignment {
  margin-bottom: -0.2%;
  width: 1.7%;
}
.content_alignment {
  font-family: 'Barlow-Medium';
  float: right;
  
  width: 700px;
 
 
} 
.button_progress_style {
  background-color: white;
  color: palegreen;
  cursor: pointer;
  outline: none;
}
.button_text_style {
  background-color: white;
  color: blue;
  cursor: pointer;
  outline: none;
}

.blue-snackbar {
  background: #2196F3;
}