  <mat-tree    [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node class="eks-left-section" *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
      <!-- use a disabled button to provide padding for tree leaf -->
     <button mat-icon-button disabled></button>  

      <mat-checkbox (change)="filterdata(node)"   [(ngModel)]="selectedBox[node.id]"   ></mat-checkbox>
      <!-- <span class="eks-left-section-node">{{node.name}}  a</span> -->
     
      {{node.name}}
    </mat-tree-node> 
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
        </mat-icon>
      </button>
      {{node.name}}  
    </mat-tree-node>
  </mat-tree>
