.releaseDiv{
    h1 { padding: 10px 10px 0; } 
    p{padding: 10px;}
    .action-btn { border-top: 1px solid  #CFD1D7; text-align: center; padding: 15px; 
        button { margin-left: 10px; }
    }
}