@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/mixins';
@import '../../../scss/helpers/breakpoints';
@import '../../../scss/helpers/placeholders';

.mat-card-title {
  @include font-face-BarlowSemiCondensed-Medium(1.25rem, 1.2rem);
}

.mat-radio-group {
  mat-label {
    margin: 0 0 10px;
    display: block;
    @include font-face-BarlowSemiCondensed-Medium(1rem, 1.2rem);
  }

  .mat-radio-button {
    display: block;
  }
}