// Base
@import "./base/reset";
@import "./base/global";
@import "./base/typography";
@import "./base/common";
// @import "./base/left-nav";

// Helper
@import "./helpers/variables";
@import "./helpers/breakpoints";
@import "./helpers/placeholders";
@import "./helpers/mixins";
@import "./helpers/mat-slide-toggle";

//Components
@import "./components/forms";
@import "./components/searchCustom";
@import "./components/buttons";
@import "./components/documents";
@import "./components/topSearchComponent";
@import "./components/taskExecution";
@import "./components/task-workflow";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/material.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  --top-spacing: 100px;
  scroll-padding-top: var(--top-spacing);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

// .angular-editor {
//   height: 300px;
// }
// .angular-editor-wrapper {
//   height: 300px;
// }
// .angular-editor-textarea {
//   height: 300px;
// }

.taskfullscreen .containerLeft,
.taskfullscreen .buildtasksearchbox,
.taskfullscreen .applyFilters,
.taskfullscreen .bodyPanel.lower {
  display: none !important;
}

.pr .mat-dialog-container {
  position: relative;
}

.taskfullscreen .containerRight {
  width: calc(100% - 70px) !important;
}

html.cdk-global-scrollblock {
  position: initial !important;
}

html.cdk-global-scrollblock body {
  position: fixed;
  width: 100%;
}

.cdk-overlay-container {
  z-index: 99999 !important;
}

.obsolete-document-bg {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: calc(100% - 25px);
    height: 20px;
    background-image: url("../assets/images/obsolete.svg");

    top: 68px;
    left: 20px;
  }
}

.obsolete-document-label-tag {
  height: 24px;
  display: inline-flex;
  align-items: center;
  width: 160px;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid;
  background: #c1eeff;
  border-color: #00A9E0;
  font-size: 14px;
  font-family: 'BarlowSemiCondensed-Medium' !important;
  color: #3E3E3E !important;
  letter-spacing: normal !important;
  &:before {
    content: 'This version is obsolete'
  }
}


@media print {
  .mat-drawer.mat-drawer-end , 
  .docType-Status ,
  .mat-tab-header ,
  .top-band-wrapper , 
header  .eks_page_top ,
header .rightBox,
.sub-nav-inner.title_alignment , 
header .user-profile-block ,
.flex-container .leftNavi {  display: none !important; }
  .flex-container .rightContant { margin-left: 0px !important;}

}