@import '../../../../scss/helpers/variables';
@import '../../../../scss/helpers/mixins';
@import '../../../../scss/helpers/breakpoints';
@import '../../../../scss/helpers/placeholders';

form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  .mat-radio-group {
    .mat-radio-button {
      margin-right: 20px;
    }
  }

  @include breakpoint(mobileonly) {
    grid-template-columns: 1fr;
  }
}

.submit-btn {
  float: right;
  width: 85px;
}

.purpose {
  //margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "form";

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: form;
    margin-top: 20px;
  }
}

button#insertImage- {
  display: none;
}

#unlink- {
  display: none;
}

:host ::ng-deep angular-editor {
  .angular-editor-button[title="Insert Image"] {
    display: none;
  }

  #insertVideo- {
    display: none;
  }
}

::ng-deep .purpose-preview .angular-editor .angular-editor-wrapper .angular-editor-textarea {
  // mat-cell {
  //   padding: 0px !important;
  // }
  padding: 0px !important;
  outline: none !important;
  border: none !important;
  // min-height: max-content !important;
  // height: max-content !important;
  resize: none !important;
}

.header-field {
  font-family: 'BarlowSemiCondensed-Medium';
  font-size: 1rem;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.9;
}

:host ::ng-deep angular-editor {

  .angular-editor-button[title="Undo"],
  .angular-editor-button[title="Redo"],
  .angular-editor-button[title="Text Color"],
  .angular-editor-button[title="Background Color"] {
      display: none !important;
  }

  padding: 0px !important;
  outline: none !important;
  border: none !important;
  min-height: max-content !important;
  height: max-content !important;
  resize: none !important;
}
