<div class="full-width md1-grid mdl-cell mdl-cell--12-col">
  <span
    class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
  >
    <label class="EKS_btns_kp"
      ><span>KP</span><button (click)="onFilterHandler('KP')">Knowledge Pack</button></label
    >
  </span>
  <span
    class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
  >
    <label class="EKS_btns_wi"
      ><span>WI</span><button (click)="onFilterHandler('WI')">Work Instructions</button></label
    >
  </span>
  <span
    class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
  >
    <label class="EKS_btns_cg"
      ><span>CG</span><button (click)="onFilterHandler('CG')">Criteria Groups</button></label
    >
  </span>
  <span
    class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
  >
    <label class="EKS_btns_ds"
      ><span>DS</span><button (click)="onFilterHandler('DS')">Design Standard</button></label
    >
  </span>
  <span
    class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
  >
    <label class="EKS_btns_gb"><span>GB</span><button class="{{showTitleBorder}}" (click)="onFilterHandler('GB')">Guide Books</button></label>
  </span>

  <span
    class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
  >
    <label class="EKS_btns_rc"
      ><span>RC</span><button (click)="onFilterHandler('RC')">Related Content</button></label
    >
  </span>
  <span
  class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
>
  <label class="EKS_btns_toc"
    ><span>TOC</span><button (click)="onFilterHandler('TOC')">Table of Content</button></label
  >
</span>
<span
class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
>
<label class="EKS_btns_ap"
  ><span>AP</span><button (click)="onFilterHandler('AP')">Activity Page</button></label
>
</span>
<span
class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone header-row"
>
<label class="EKS_btns_m"
  ><span>M</span><button (click)="onFilterHandler('M')">Map</button></label
>
</span>
</div>
