<div *ngIf="loading" id="cover-spin"></div>
<div class="content-wraper-feedback-management">
  <div class="feedbackPageHeading">Error Handling</div>

  <div class="feedbackContent">

    <div class="heading-band">
      <div class="mat-title">To Do's <span>( {{ dataSource?.data?.length || 0 }} )</span> </div>

    </div>

    <div class="feedbackContainers" fxLayout="column">

      <div class="feedbackTable">
        <mat-table [dataSource]="dataSource" class="activitySearchData-table" matSort>

          <ng-container matColumnDef="documentType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Document Type</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span class="type" [ngClass]="element.documentType | lowercase">{{ (element.documentType === 'ProcessMaps')?
                  'M' : element.documentType }}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contentId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Content ID#</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.contentID}}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contentTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Content Title</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.contentTitle}}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contentOwner">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Content Owner</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.contentOwner}}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="exceptionError">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Exception Error</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.error}}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contentAuthor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Content Author</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.contentAuthor}}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="classifier">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Classifier</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.classifier}}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="createdDateTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Requested Date</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div class="rowDataText">{{element.createDateTime | date: 'MM/dd/yyyy' }}</div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let element; let index = index">
              <button mat-icon-button [matMenuTriggerFor]="beforeMenu" class="dotBtn" tooltip="" data-tooltip="8009"
                      placement="bottom">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #beforeMenu="matMenu" xPosition="before" class="contentMatMenu">
                <button mat-menu-item (click)="retryWorkFlow(element, index)">Retry</button>
                <button mat-menu-item (click)="endWorkFlow(element, index)">End</button>
              </mat-menu>
            </mat-cell>
          </ng-container>

          <!-- Header and Row Declarations -->
          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
        </mat-table>

        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="pageRowCounters"
          showFirstLastButtons>
        </mat-paginator>
      </div>

    </div>
  </div>

</div>
