ul {
  margin-left: 10px;
}
ul li {
  position: relative;
  div{
    padding: 5px;
  }
}
ul li img {
  max-width: 100px;
}
ul li a { 
  display: block;
}

.expcol {
  display: inline-block;
}
ul li span {
  padding-left: 15px;
  cursor: pointer;
}
.mat-icon {
  position: absolute;
  left: 0px;
  top: 4px;
}

::ng-deep mark, .mark {
  background-color: yellow !important;
}


