@import '../../../../scss/helpers/variables';
@import '../../../../scss/helpers/mixins';
@import '../../../../scss/helpers/breakpoints';
@import '../../../../scss/helpers/placeholders';
@import '../../../../scss/base/_global.scss';

.arrow-icon {
  margin-top: 2%;
  float: right;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  margin-left: 30px;
  margin-top: 25px;
}

.delete-text {
  margin-left: -10px;
  cursor: pointer;
}

.button {
  height: fit-content;
  float: right;
}

.text-field {
  width: 50px;
  margin-right: 10px;
}

.header-field {
  font-family: 'BarlowSemiCondensed-Medium';
  font-size: 1rem;
  letter-spacing: 1px;
  color: #000000;
  opacity: 0.9;
  margin: 20px 0;
}

.page-layout {
  width: 97% !important;
  margin-left: 0px;
}

.mat-header-cell {
  font: normal normal normal 13px/28px Inter-regular;
  color: black;
  padding-left: 0%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 110px;
}

mat-row {
  border: 1px solid white !important;
  align-items: stretch;
  background-color: #f5f5f5;
  font: normal normal normal 13px/24px Inter-regular;
  letter-spacing: 0.67px;
}

mat-cell {
  border: 1px solid white !important;
  padding-left: 1% !important;
}

.mat-header-row {
  min-height: 0px;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 10%;
}

::ng-deep .preview .angular-editor .angular-editor-wrapper .angular-editor-textarea {
  mat-cell {
    padding: 0px !important;
  }

  background-color: #f5f5f5 !important;
  padding: 0px !important;
  outline: none !important;
  border: none !important;
  min-height: max-content !important;
  height: max-content !important;
  resize: none !important;
}